# à copier dans /etc/systemd/system/overlay-engine.service
# puis systemctl enable overlay-engine.service pour l'activer au boot

[Unit]
Description=Moteur d'habillage
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/node /app/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
