{
  "server": {
    "PORT": 80,
    "HOST": "localhost"
  },
  "social": {
    "max_messages": 10
  },
  "twitter": {
    "CONSUMER_KEY": "",
    "CONSUMER_SECRET": "",
    "TOKEN_KEY": "",
    "ACCESS_TOKEN_SECRET": "",
    "LANGUAGE": "fr",
    "TRACK": ""
  },
  "facebook": {
    "FB_APP_ID": "",
    "FB_APP_SECRET": "",
    "FB_USER_ACCESS_TOKEN": "",
    "FB_VIDEO_ID": ""
  }
}
