/* webfonts */

@font-face {
  font-family: 'TradeGothic';
  src: url(../fonts/trade-gothic.woff2) format('woff2'),
       url(../fonts/trade-gothic.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'San Francisco Text';
  src: url(../fonts/san-francisco-text-regular.woff2) format('woff2'),
       url(../fonts/san-francisco-text-regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'San Francisco Text';
  src: url(../fonts/san-francisco-text-bold.woff2) format('woff2'),
       url(../fonts/san-francisco-text-bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'DK Longreach';
  src: url(../fonts/dk-longreach.woff2) format('woff2'),
       url(../fonts/dk-longreach.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

/* colors */

:root {
  --logo-url: url(/img/logo-lespiedsdanslorge.png);
  --logo-width: 125px;
  --logo-height: 125px;

  /* couleurs horloge */
  --clock-bgcolor: #253041;
  --clock-color: #ffffff;

  --footer-radius: 10px;
  --_footer-background: #253041;
  --footer-background: linear-gradient(0.25turn, #202536, #253041, #202536);
  --footer-color: #f8f4ba;

  --footer-claim-display: none; /* none|block */
  --footer-claim-bgcolor: #253041;
  --footer-claim-color: #fff;
}

body {
  background-color: transparent;
  overflow: hidden;
}
body.green {
  background-color: #00FF00;
}
body.mosaic {
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

/* conteneur global */
#global {
}

/* logo */
#logo {
  position: absolute;
  z-index: 100;
  top: 30px;
  left: 30px;
  background: no-repeat center/cover;
  background-image: var(--logo-url);
  width: var(--logo-width);
  height: var(--logo-height);
}

/* horloge */

#clock_wrap {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  top: 30px;
  right: 30px;
  height: 124px;
  width: 100%;
  /* fil du temps de l'émission */
  /* nom de l'émission */
}
#clock_wrap #clock {
  position: absolute;
  right: 0;
  font-family: TradeGothic;
  background: var(--clock-bgcolor);
  color: var(--clock-color);
  font-size: 36px;
  line-height: 50px;
  padding: 0 10px;
}
#clock_wrap #clock.expanded {
  animation: clock_expand 1s cubic-bezier(0, 0.5, 0.5, 1) forwards;
}
#clock_wrap #clock.folded {
  animation: clock_fold 1s cubic-bezier(0, 0.5, 0.5, 1) forwards;
}
#clock_wrap #timeline {
  display: flex;
  align-items: center;
  background-color: var(--clock-bgcolor);
  color: var(--clock-color);
  font-family: TradeGothic;
  font-size: 36px;
  line-height: 50px;
  padding: 0 10px;
  width: 414px;
  margin-left: auto;
  transform: translateX(100%);
}
#clock_wrap #timeline.expanded {
  animation: timeline_expand 1s cubic-bezier(0, 0.5, 0.5, 1) forwards;
}
#clock_wrap #timeline.folded {
  animation: timeline_fold 1s cubic-bezier(0, 0.5, 0.5, 1) forwards;
}
#clock_wrap #timeline #line {
  background: var(--clock-color);
  width: 100%;
  padding: 2px;
  margin: 0 10px;
  border-radius: 2px;
  position: relative;
}
#clock_wrap #timeline #line #cursor {
  position: absolute;
  top: -7px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--clock-color);
}
#clock_wrap #show {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #f7303c;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-family: TradeGothic;
  font-size: 46px;
  line-height: 64px;
  text-transform: uppercase;
  padding: 0 8px;
  transform: translateX(100%);
  white-space: nowrap;
}
#clock_wrap #show.expanded {
  animation: show_expand 1s cubic-bezier(0, 0.5, 0.5, 1) forwards;
}
#clock_wrap #show.folded {
  animation: show_fold 1s cubic-bezier(0, 0.5, 0.5, 1) forwards;
}
/* animation #clock */
@keyframes clock_expand {
    0% { transform: translateX(calc(100% + 1px)); }
  100% { transform: translateX(0); }
}
@keyframes clock_fold {
    0% { transform: translateX(0); }
  100% { transform: translateX(calc(100% + 1px)); }
}
/* animation #timeline */
@keyframes timeline_expand {
    0% { transform: translateX(calc(100% + 1px)); }
  100% { transform: translateX(0); }
}
@keyframes timeline_fold {
    0% { transform: translateX(0); }
  100% { transform: translateX(calc(100% + 1px)); }
}
/* animation #show */
@keyframes show_expand {
    0% { transform: translateX(calc(100% + 1px)); }
  100% { transform: translateX(0); }
}
@keyframes show_fold {
    0% { transform: translateX(0); }
  100% { transform: translateX(calc(100% + 1px)); }
}

/* bloc social */

.social_wrap {
  position: absolute;
  z-index: 100;
  right: 30px;
  bottom: 100px;
}
.social_wrap .social {
  position: relative;
  font-family: Arial;
  background-color: #fff;
  width: 915px;
  transform: translateX(0);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px #000;
}
.social_wrap .social.expanded {
  animation: social_expand 2s cubic-bezier(0, 0.5, 0.5, 1) forwards;
}
.social_wrap .social.folded {
  animation: social_fold 2s cubic-bezier(0, 0.5, 0.5, 1) forwards;
}
.social_wrap .social .soc_hdr {
  display: flex;
  align-items: center;
}
.social_wrap .social .soc_hdr .soc_avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}
.social_wrap .social .soc_hdr .soc_name {
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  color: #000;
}
.social_wrap .social .soc_hdr .soc_screen_name {
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
  color: #8899a6;
}
.social_wrap .social .soc_text {
  color: #000;
  font-size: 30px;
  line-height: 34px;
  padding-top: 10px;
}
/* animation relative à .social */
@keyframes social_expand {
    0% { transform: translateX(calc(100% + 35px)); }
  100% { transform: translateX(0); }
}
@keyframes social_fold {
    0% { transform: translateX(0); }
  100% { transform: translateX(calc(100% + 35px)); }
}

/* block titre artiste */

.onair_wrap {
  position: absolute;
  z-index: 100;
  display: flex;
  left: 30px;
  bottom: 100px;
  overflow: hidden;
  max-height: 0;
  background-color: #fff;
  border-radius: 10px;
}
.onair_wrap.expanded {
  animation: height_in 1s cubic-bezier(0, 0.5, 0.5, 1) forwards;
}
.onair_wrap.expanded .onair {
  animation: translateY_in 1s cubic-bezier(0, 0.5, 0.5, 1) forwards;
}
.onair_wrap.folded {
  animation: height_out 1s cubic-bezier(0, 0.5, 0.5, 1) forwards;
}
.onair_wrap.folded .onair {
  animation: translateY_out 1s cubic-bezier(1, 0, 1, 1) forwards;
}
.onair_wrap .onair {
  display: inline-block;
  position: relative;
  padding: 29px 10px;
  margin-top: auto;
  margin-bottom: auto;
  transform: translateY(calc(100% + 1px));
  z-index: 2;
  font-family: TradeGothic;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  max-width: 915px;
  border-radius: 10px;
}
.onair_wrap .onair .artist {
  font-weight: bold;
  font-size: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.onair_wrap .onair .title {
  font-size: 52px;
  text-overflow: ellipsis;
  overflow: hidden;
}
@keyframes height_in {
    0% { max-height: 0; }
  100% { max-height: 190px; }
}
@keyframes height_out {
    0% { max-height: 190px; }
  100% { max-height: 0; }
}
@keyframes translateY_in {
    0% { opacity: 0;
         transform: translateY(calc(100% + 1 px)); }
  100% { opacity: 1;
         transform: translateY(0); }
}
@keyframes translateY_out {
    0% { opacity: 1;
         transform: translateY(0); }
  100% { opacity: 0;
         transform: translateY(calc(100% + 1px)); }
}

/* footer / claim & news */

.footer {
  background: var(--footer-background);
  border-radius: var(--footer-radius);
  color: var(--footer-color);
  position: absolute;
  z-index: 100;
  bottom: 30px;
  left: 30px;
  right: 30px;
  display: flex;
}
.footer .telex {
  min-height: unset;
}
.footer .claim {
  display: var(--footer-claim-display);
  border-bottom-left-radius: var(--footer-radius);
  border-top-left-radius: var(--footer-radius);
  font-family: TradeGothic;
  text-transform: uppercase;
  background: var(--footer-claim-bgcolor);
  color: var(--footer-claim-color);
  padding: 0 8px;
  letter-spacing: -1px;
  text-shadow: #000 1px 1px 1px;
  font-size: 35px;
  line-height: 50px;
  white-space: nowrap;
}
.footer .news {
  display: flex;
  text-transform: uppercase;
  font-family: DK Longreach;
  font-weight: bold;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: -1px;
  text-shadow: 1px 1px 1px #000;
  width: 100%;
}
.icon {
  position: absolute;
  z-index: 10;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: 5s bounce;
}
.icon.angry {
  background-image: url(/img/reactions/angry.svg);
}
.icon.haha {
  background-image: url(/img/reactions/haha.svg);
}
.icon.like {
  background-image: url(/img/reactions/like.svg);
}
.icon.love {
  background-image: url(/img/reactions/love.svg);
}
.icon.sad {
  background-image: url(/img/reactions/sad.svg);
}
.icon.wow {
  background-image: url(/img/reactions/wow.svg);
}

@keyframes bounce{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  5%{
    opacity: 0.9;
    transform: scale(1.25);
  }
  8%{
    opacity: 1;
    transform: scale(0.89);
  }
  10%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
  90%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
  95%{
    transform: scale(1.25);
  }
  98%{
    transform: scale(0.89);
  }
  100%{
    opacity: 0;
    transform: scale(1);
  }
}
