/* thème habillage personnalisé */
/* écrase les valeurs par défaut */
/* saisissez vos propres styles */

body {
  /* transparent ou vert suivant l'incrust */
  background-color: transparent;
}
#logo {
  background-image: url(/img/logo-adhoc.png);
  width: 192px;
  height: 100px;
}
#clock_wrap #clock {
  background-image: none; /* écrase les gradient */
  background-color: #000;
}
#clock_wrap #timeline {
  background-image: none; /* écrase les gradient */
  background-color: #000;
}
.footer .claim {
  display: none;
  background-image: none; /* écrase les gradient */
  background-color: #000;
  color: #fff;
}
.footer .news {
  background-image: none; /* écrase les gradient */
  background-color: #000;
  color: #fff;
}
