/* thème habillage personnalisé */
/* écrase les valeurs par défaut */
/* saisissez vos propres styles */

#clock_wrap #clock {
  background-image: none; /* écrase les gradient */
  background-color: #000;
}
#clock_wrap #timeline {
  background-image: none; /* écrase les gradient */
  background-color: #000;
}
.footer .claim {
  display: none;
  background-image: none; /* écrase les gradient */
  background-color: #000;
  color: #fff;
}
.footer .news {
  background-image: none; /* écrase les gradient */
  background-color: #000;
  color: #fff;
}
