[Unit]
Description=Moteur d'habillage pour stream
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/node /var/www/overlay-engine/app/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
