/* horloge */

#clock_wrap
  position absolute
  overflow hidden
  top 30px
  right 30px
  height 124px
  width 100%

  #clock
    position absolute
    right 0
    font-family TradeGothic
    background clock_bgcolor
    color clock_color
    font-size 36px
    line-height 50px
    padding 0 10px

    &.expanded
      animation clock_expand 1s cubic-bezier(0,.5,.5,1) forwards

    &.folded
      animation clock_fold 1s cubic-bezier(0,.5,.5,1) forwards

  /* fil du temps de l'émission */

  #timeline
    display flex
    align-items center
    background-color clock_bgcolor
    color clock_color
    font-family TradeGothic
    font-size 36px
    line-height 50px
    padding 0 10px
    width 414px
    margin-left auto
    transform translateX(100%)

    &.expanded
      animation timeline_expand 1s cubic-bezier(0,.5,.5,1) forwards

    &.folded
      animation timeline_fold 1s cubic-bezier(0,.5,.5,1) forwards

    #line
      background clock_color
      width 100%
      padding 2px
      margin 0 10px
      border-radius 2px
      position relative

      #cursor
        position absolute
        top -7px
        left 0
        width 18px
        height 18px
        border-radius 50%
        background-color clock_color

  /* nom de l'émission */

  #show
    position absolute
    top 50px
    right 0
    background-color #f7303c
    color #fff
    font-family TradeGothic
    font-size 46px
    line-height 64px
    text-transform uppercase
    padding 0 8px
    transform translateX(100%)
    white-space nowrap

    &.expanded
      animation show_expand 1s cubic-bezier(0,.5,.5,1) forwards

    &.folded
      animation show_fold 1s cubic-bezier(0,.5,.5,1) forwards

/* animation #clock */

@keyframes clock_expand
  0%
    transform translateX(calc(100% + 1px))
  100%
    transform translateX(0)

@keyframes clock_fold
  0%
    transform translateX(0)
  100%
    transform translateX(calc(100% + 1px))

/* animation #timeline */

@keyframes timeline_expand
  0%
    transform translateX(calc(100% + 1px))
  100%
    transform translateX(0)

@keyframes timeline_fold
  0%
    transform translateX(0)
  100%
    transform translateX(calc(100% + 1px))

/* animation #show */

@keyframes show_expand
  0%
    transform translateX(calc(100% + 1px))
  100%
    transform translateX(0)

@keyframes show_fold
  0%
    transform translateX(0)
  100%
    transform translateX(calc(100% + 1px))
