/**
 * webfonts
 */

@font-face
  font-family 'TradeGothic'
  src url('../fonts/trade-gothic.woff2') format('woff2'),
      url('../fonts/trade-gothic.woff') format('woff')
  font-weight bold
  font-style normal

@font-face
  font-family 'San Francisco Text'
  src url('../fonts/san-francisco-text-regular.woff2') format('woff2'),
      url('../fonts/san-francisco-text-regular.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'San Francisco Text'
  src url('../fonts/san-francisco-text-bold.woff2') format('woff2'),
      url('../fonts/san-francisco-text-bold.woff') format('woff')
  font-weight bold
  font-style normal
