/* footer / claim & news */

.footer
  position absolute
  bottom 30px
  left 30px
  right 30px
  display flex

  .claim
    font-family Khand, Helvetica, Arial, sans-serif
    text-transform uppercase
    background #281c02
    color blp_gold
    text-shadow #000 1px 1px 1px
    padding 5px 20px 0 15px
    font-size 35px
    line-height 45px
    white-space nowrap

    strong
      background url(../img/oscar.png) no-repeat 0 center / 12px
      padding-left 20px

  .news
    display flex
    font-family TradeGothic
    font-weight bold
    font-size 35px
    line-height 50px
    background linear-gradient(0.25turn, #281c02, #b7a064, #281c02)
    color #fff
    text-transform uppercase
    width 100%

    .news__hdr
      color blp_gold
      padding 0 0 0 20px

    .news__title
      padding 0 8px
      letter-spacing -.05rem
      text-shadow 1px 1px 1px #000
