/* footer / claim & news */

.footer
  position absolute
  bottom 30px
  left 30px
  right 30px
  display flex

  .claim
    font-family TradeGothic
    text-transform uppercase
    background #281c02
    color #fff
    padding 0 .8rem
    letter-spacing -.05rem
    text-shadow #000 1px 1px 1px
    font-size 35px
    line-height 50px
    white-space nowrap

  .news
    display flex
    font-family TradeGothic
    font-weight bold
    font-size 35px
    line-height 50px
    background linear-gradient(0.25turn, #281c02, #b7a064, #281c0200)
    color #fff
    width 100%
    letter-spacing -.05rem
    text-shadow 1px 1px 1px #000

    .news__hdr
      color blp_gold
      padding 0 .8rem

    .news__title
      color #fff
      padding 0 .8rem
