/* block titre artiste */

.onair_wrap
  position absolute
  z-index 100
  display flex
  left 30px
  bottom 100px
  overflow hidden
  max-height 0
  background-color #fff
  border-radius 1rem

  &.expanded
    animation height_in 1s cubic-bezier(0,.5,.5,1) forwards
    .onair
      animation translateY_in 1s cubic-bezier(0,.5,.5,1) forwards

  &.folded
    animation height_out 1s cubic-bezier(0,.5,.5,1) forwards
    .onair
      animation translateY_out 1s cubic-bezier(1,0,1,1) forwards

  .onair
    display inline-block
    position relative
    padding 29px 10px
    margin-top auto
    margin-bottom auto
    transform translateY(calc(100% + 1px))
    z-index 2
    font-family TradeGothic
    text-transform uppercase
    white-space nowrap
    overflow hidden
    max-width 915px
    border-radius 1rem

    .artist
      font-weight bold
      font-size 80px
      text-overflow ellipsis
      overflow hidden

    .title
      font-size 52px
      text-overflow ellipsis
      overflow hidden

@keyframes height_in
  0%
    max-height 0
  100%
    max-height 190px

@keyframes height_out
  0%
    max-height 190px
  100%
    max-height 0

@keyframes translateY_in
  0%
    opacity 0
    transform translateY(calc(100% + 1 px))
  100%
    opacity 1
    transform translateY(0)

@keyframes translateY_out
  0%
    opacity 1
    transform translateY(0)
  100%
    opacity 0
    transform translateY(calc(100% + 1px))
