/* bloc social */

.social_wrap
  position absolute
  right 30px
  bottom 100px

  .social
    position relative
    display inline-flex
    background-color #fff
    width 915px
    transform translateX(0)
    border-radius 1rem
    padding 1rem

    &.expanded
      animation social_expand 2s cubic-bezier(0,.5,.5,1) forwards

    &.folded
      animation social_fold 2s cubic-bezier(0,.5,.5,1) forwards

    .avatar
      width 150px
      height 150px

    .soc_inner
      padding 0 1rem

      .network
        display inline-block
        width 40px
        height 40px
        margin-right 1rem

      h3
        display inline-block
        vertical-align top
        font-size 24px
        font-family Arial
        font-weight bold
        line-height 40px

      span
        display block
        font-family Arial
        color #292933
        font-size 26px
        line-height 29px
        padding-top 1rem

/* animation relative à .social */

@keyframes social_expand
  0%
    transform translateX(calc(100% + 1px))
  100%
    transform translateX(0)

@keyframes social_fold
  0%
    transform translateX(0)
  100%
    transform translateX(calc(100% + 1px))
