/* bloc social */

.social_wrap
  position absolute
  right 30px
  bottom 100px

  .social
    position relative
    font-family Arial
    background-color #fff
    width 915px
    transform translateX(0)
    border-radius 1rem
    padding 1rem
    box-shadow 2px 2px 5px #000

    &.expanded
      animation social_expand 2s cubic-bezier(0,.5,.5,1) forwards

    &.folded
      animation social_fold 2s cubic-bezier(0,.5,.5,1) forwards

    .soc__hdr
      display flex
      align-items center

      .soc_avatar
        width 80px
        height 80px
        border-radius 50%
        margin-right 1rem

      .soc_name
        font-size 26px
        font-weight bold
        line-height 32px
        color #000

      .soc_screen_name
        font-size 22px
        font-weight bold
        line-height 32px
        color rgb(136, 153, 166)

    .soc_text
      color #000
      font-size 30px
      line-height 34px
      padding-top 1rem

/* animation relative à .social */

@keyframes social_expand
  0%
    transform translateX(calc(100% + 35px))
  100%
    transform translateX(0)

@keyframes social_fold
  0%
    transform translateX(0)
  100%
    transform translateX(calc(100% + 35px))
