doctype html
html

  head
    meta(charset="utf-8")
    title Habillage Admin
    link(rel="stylesheet" href="/css/admin.css")

  body

    header(style="display:none")
      p#message_response
      button(id="btn-onair" style="display:none" class="message" data-msg="AON" title="ON AIR") ON AIR
      button(id="btn-offair" style="display:none" class="message" data-msg="AOF" title="OFF AIR") OFF AIR
      button(id="refresh" class="message" data-msg="UPD" title="refresh habillage") UPD

    div#main

      section#habillage
        #video_wrap
          iframe(id="video" src="/" width="640" height="360" frameborder="0")

      section#variables
        table.dump
          tr(style="display:none")
            th screen
            td#var_screen
          tr
            th show
            td#var_show
          tr
            th music
            td#var_music
          tr(style="display:none")
            th social
            td#var_social
          tr
            th telex
            td#var_telex
          tr(style="display:none")
            th edito
            td#var_edito

    div#cmd

      section#live_song(style="display:block")
        h2 Musique
        div
          label(for="live_song_artist") Artiste
          input(type="text" id="live_song_artist" placeholder="Artiste")
        div
          label(for="live_song_title") Titre
          input(type="text" id="live_song_title" placeholder="Titre")
        div
          button(id="live_song_send" class="message") Envoyer

      section#live_telex(style="display:block")
        h2 Telex
        div
          input(type="text" id="live_telex_content" value="ppp" placeholder="Texte")
          button(class="message" id="live_telex_send") Envoyer

    script.
      var app;
      var settings = settings || [];
      settings.ws = 'http://#{ws_host}:#{ws_port}';
    script(src="/js/jquery-3.4.1.min.js")
    script(src="/js/moment-2.24.0.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/admin.js")
    script.
      document.addEventListener('DOMContentLoaded', () => {
        app = new (require('admin/app'));
      });
