<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Habillage Admin</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
  <div id="main">
    <section id="habillage">
      <div id="video_wrap">
        <iframe id="video" src="/" width="640" height="360" frameborder="0"></iframe>
      </div>
    </section>
    <section id="variables">
      <table class="dump">
        <tr>
          <th>show</th>
          <td id="var_show"></td>
        </tr>
        <tr>
          <th>music</th>
          <td id="var_music"></td>
        </tr>
        <tr>
          <th>telex</th>
          <td id="var_telex"></td>
        </tr>
      </table>
    </section>
  </div>
  <div id="cmd">

    <section id="live_song">
      <h2>Musique</h2>
      <input type="text" id="live_song_artist" placeholder="Artiste"/>
      <input type="text" id="live_song_title" placeholder="Titre"/>
      <button class="message" id="live_song_send">Envoyer</button>
    </section>

    <section id="live_telex">
      <h2>Telex</h2>
      <input type="text" id="live_telex_content" placeholder="Texte">
      <button class="message" id="live_telex_send">Envoyer</button>
    </section>
    <section>
      <h2>Divers</h2>
      <button class="message" id="admin_logo">Logo</button>
      <button class="message" id="admin_clock">Horloge</button>
      <button class="message" id="admin_telex">Telex</button>
    </section>

  </div>
  <script>
    var app;
    var settings = settings || [];
    settings.ws = 'http://<%= ws_host %>:<%= ws_port %>';
  </script>
  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/js/moment-2.25.3.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module">
    import {App} from './js/admin.mjs';
    document.addEventListener('DOMContentLoaded', () => {
      app = new App();
    });
  </script>
</body>

</html>
