<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Habillage Admin</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
  <header style="display:none">
    <p id="message_response"></p>
    <button class="message" id="btn-onair" style="display:none" data-msg="AON" title="ON AIR">ON AIR</button>
    <button class="message" id="btn-offair" style="display:none" data-msg="AOF" title="OFF AIR">OFF AIR</button>
    <button class="message" id="refresh" data-msg="UPD" title="refresh habillage">UPD</button>
  </header>
  <div id="main">
    <section id="habillage">
      <div id="video_wrap">
        <iframe id="video" src="/" width="640" height="360" frameborder="0"></iframe>
      </div>
    </section>
    <section id="variables">
      <table class="dump">
        <tr style="display:none">
          <th>screen</th>
          <td id="var_screen"></td>
        </tr>
        <tr>
          <th>show</th>
          <td id="var_show"></td>
        </tr>
        <tr>
          <th>music</th>
          <td id="var_music"></td>
        </tr>
        <tr style="display:none">
          <th>social</th>
          <td id="var_social"></td>
        </tr>
        <tr>
          <th>telex</th>
          <td id="var_telex"></td>
        </tr>
        <tr style="display:none">
          <th>edito</th>
          <td id="var_edito"></td>
        </tr>
      </table>
    </section>
  </div>
  <div id="cmd">
    <section id="live_song" style="display:block">
      <h2>Musique</h2>
      <div><label for="live_song_artist">Artiste</label><input type="text" id="live_song_artist" placeholder="Artiste"></div>
      <div><label for="live_song_title">Titre</label><input type="text" id="live_song_title" placeholder="Titre"></div>
      <div><button class="message" id="live_song_send">Envoyer</button></div>
    </section>
    <section id="live_telex" style="display:block">
      <h2>Telex</h2>
      <div><input type="text" id="live_telex_content" value="" placeholder="Texte"><button class="message" id="live_telex_send">Envoyer</button></div>
    </section>
  </div>
  <script>
    var app;
    var settings = settings || [];
    settings.ws = 'http://<%= ws_host %>:<%= ws_port %>';
  </script>
  <script src="/js/jquery-3.5.0.min.js"></script>
  <script src="/js/moment-2.24.0.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module">
    import {App} from './js/admin.mjs';
    document.addEventListener('DOMContentLoaded', () => {
      app = new App();
    });
  </script>
</body>

</html>
