doctype html
html

  head
    meta(charset="utf-8")
    title Habillage Admin
    link(rel="stylesheet" href="/css/admin.css")

  body

    h1 Admin Habillage

    header
      button(id="conx" title="Connexion" data-key="48") Se connecter
      p#message_response

    div#main

      section#habillage
        #video_wrap
          iframe(id="video" src="/" width="640" height="360" frameborder="0")

      section#commandes
        ul.btn_grid
          li
            button(class="message" data-msg="MON" title="début maintenance") MON
          li
            button(class="message" data-msg="MOF" title="fin maintenance") MOF
          li
            button(class="message" data-msg="ZON" title="début always on") ZON
          li
            button(class="message" data-msg="ZOF" title="fin always on") ZOF
          li
            button(class="message" data-msg="AON" title="ouverture micro") AON
          li
            button(class="message" data-msg="AOF" title="fermeture micro") AOF
          li
            button(class="message" data-msg="PON" title="début écran pub") PON
          li
            button(class="message" data-msg="POF" title="fin écran pub") POF
          li
            button(class="message" data-msg="UPD" title="refresh habillage") UPD

      section#variables
        table.dump
          tr
            th maintenance
            td#var_maintenance
          tr
            th always on
            td#var_always
          tr
            th screen
            td#var_screen
          tr
            th mic
            td#var_mic
          tr
            th pub
            td#var_pub
          tr
            th show
            td#var_show
          tr
            th music
            td#var_music
          tr
            th social
            td#var_social
          tr
            th news
            td#var_news
          tr
            th ads
            td#var_ads

    script.
      var app;
      var settings = settings || [];
      settings.ws = 'http://#{ws_host}:#{ws_port}';
    script(src="/js/jquery-3.4.1.min.js")
    script(src="/js/moment-2.24.0.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/admin.js").
    script.
      document.addEventListener('DOMContentLoaded', () => {
        app = new (require('admin/app'));
      });
