doctype html
html

  head
    meta(charset="utf-8")
    title Overlay Engine
    link(rel="stylesheet" href="css/habillage.css")

  body
    #global

      section#onair-screen

      section#music-screen
        .background
        .pano

      section#ads-screen
        .background
        .pano

      #logo

      #clock_wrap
        #clock 88H88
        #timeline
          #start 00H00
          #line
            #cursor
          #end 24H00
        #show BLP Radio

      .onair_wrap
        .onair
          .artist
          .title
      .visuel_wrap
        .visuel
      .social_wrap
        .social
          img.avatar(src="img/avatar.svg" width="150" height="150" alt="")
          .soc_inner
            img.network(src="img/network.svg" width="40" height="40" alt="")
            h3
            span
      .footer
        .claim Réagissez sur #BlpRadio
        .news
          .news__hdr #OSCARS
          .news__title Titre fictif

    script.
      var app;
      var settings = settings || [];
      settings.ws = 'http://#{ws_host}:#{ws_port}';
    script(src="/js/jquery-3.4.1.min.js")
    script(src="/js/moment-2.24.0.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/habillage.js")
    script.
      document.addEventListener('DOMContentLoaded', () => {
        app = new (require('habillage/app'));
      });
