doctype html
html

  head
    meta(charset="utf-8")
    title Overlay Engine
    link(rel="stylesheet" href="css/habillage.css")

  body
    #global

      section#onair-screen

      section#offair-screen
        .background
        .pano

      #logo
        img(src="/img/logo.png" alt="Logo")

      #clock_wrap
        #clock 88H88
        #timeline
          #start 00H00
          #line
            #cursor
          #end 24H00
        #show BLP Radio

      .onair_wrap
        .onair
          .artist
          .title

      .social_wrap
        .social.folded
          .soc_hdr
            img.soc_avatar(src="img/avatar.svg" width="80" height="80" alt="")
            .soc_hdr_meta
              .soc_name
              .soc_screen_name
          .soc_text

      .footer
        .claim Réagissez #BlpRadio · 
        .news#tx

    script.
      var app;
      var settings = settings || [];
      settings.ws = 'http://#{ws_host}:#{ws_port}';
    script(src="/js/jquery-3.4.1.min.js")
    script(src="/js/moment-2.24.0.min.js")
    script(src="/js/telex-2.0.4.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/habillage.js")
    script.
      document.addEventListener('DOMContentLoaded', () => {
        app = new (require('habillage/app'));
      });
