.social(data-key="1234")
  .soc__hdr
    img.soc_avatar(src="img/avatar.svg" width="80" height="80" alt="")
    .soc_hdr_meta
      .soc_name fdfdsfd
      .soc_screen_name @12313
  .soc_text text
  button ON AIR